@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-bengali: var(--font-bengali);
  --font-arabic: var(--font-arabic);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), var(--font-bengali), sans-serif;
}

.font-bengali {
  font-family: var(--font-bengali), sans-serif;
}

.font-arabic {
  font-family: var(--font-arabic), sans-serif;
  direction: rtl;
  text-align: right;
}
